<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.homeout">

    <!-- gps 권한설정 2. 거리관계를 계산해서 정확히 (1.의 단점을 보완) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- gps 권한설정 1. 이용해서 더 정확한 위치를 가져오기 위해 사용 (전력 소모 큼, 건물사이에서 애매) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- foreground 권한설정 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:name=".outApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OUT">
        <activity android:name=".Lock.LockActivity"></activity>
        <service android:name=".Lock.ScreenService"></service>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.OUT.NoActionBar" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Service.homeoutForeGround"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>